<footer class="footer">
  <div class="footer-content">
    
    <section class="footer-section">
      <h2>Adres</h2>
      <address>
        <p>OBA Linnaeusstraat</p>
        <p>Linnaeusstraat 44</p>
        <p>1092 CL Amsterdam</p>
      </address>
    </section>

    <section class="footer-section">
      <h2>Contact</h2>
      <address>
        <p><a href="mailto:buurtcampusoost@hva.nl">buurtcampusoost@hva.nl</a></p>
        <p><a href="tel:0643450198">06 43450198</a></p>
        <p>BTW 0055.81.205.B01</p>
      </address>
    </section>

  </div>
</footer>
</body>
</html>