{% render 'partials/head.liquid', title: 'Expiriment' %}

<body>
<article>
<h2> Waarom <span>meedoen?</span> </h2>
<p>Ben jij klaar om je straat op te fleuren, een bijdrage te leveren aan 
    de biodiversiteit en het klimaat, én je buren te inspireren? </p>
<p>Doe dan mee met ons project om geveltuinen aan te leggen in Amsterdam!</p>
<p>Verfraai je straat: Geef je straat kleur en maak er een gezelligere plek van.
Goed voor het milieu: Planten in geveltuinen nemen CO2 op en zorgen voor een schonere lucht. Ze filteren ook fijnstof en regenwater. 
Koeler in de zomer: Planten in geveltuinen zorgen voor schaduw en verdampen water, wat voor een verkoelend effect zorgt in de stad. 
Goed voor de biodiversiteit: Geveltuinen bieden nectar en stuifmeel voor insecten zoals bijen en vlinders. 
Gezellig: Geveltuinen zorgen voor een meer sociale en betrokken buurt.</p>
</article>

<a  href="/contact" class="harry-button">Meld je aan
<img src="/assets/harrybutton.png" alt="" class="harry-jump">
</a>

</body>
</html>

<style>
body {
        display: flex;
        flex-direction: column;
    }
span {
    color: #ff8d06;
}
article { 
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}
