{% render 'partials/head.liquid' %}
{% render 'partials/nav.liquid' %}

<section class="intro">
    <h1>Samen Groener Leven</h1>
    <p>Inspireer & Deel je Groene Passie! </p>
</section>
<header>

<main>
    <section class="projecten">
        <article class="stekjes-bieb">
            <h2>Onze Stekjes Bieb!</h2>
            <p>Ons eerste Bieb in Bloei project is de stekjeskast gemaakt door 
                kinderen uit de buurt bij de Maakplaats van OBA Javaplein. Twee 
                jaar geleden brachten zij deze kast naar OBA Linnaeus waar hij 
                sindsdien goed gebruikt wordt door buurtbewoners. Op onze stekjespagina 
                staat een overzicht van de meest geruilde stekjes die vaak in de kast te 
                vinden zijn. Kom vooral een kijkje nemen want soms brengen buurtbewoners 
                heel bijzondere stekjes! Neem je eigen stekje mee van thuis om deze te ruilen. 
            </p>
            <button>Bekijk de Stekjess</button>
            <img src="link" alt="Stekjes Bieb" />
        </article>

        <article class="zaden-bieb">
            <h2>Onze Zaden Bieb</h2>
            <p>Ons tweede Bieb in Bloei project is de Zadenbieb. Deze kast is ook gemaakt door 
                kinderen van de Maakplaats bij OBA Javaplein onder leiding van Roel Pothoven. In
                deze kast kun je zaden voor je moestuin, tuin of balkon ruilen. Buurtbewoners en
                buurttuinen hebben na het zaaiseizoen soms zaden over die beperkt houdbaar zijn.
            </p>
            <p>
                Door ze in de kast te delen zorgen we ervoor dat de zaden die anders
                verloren gaan gebruikt kunnen worden om de stad te vergroenen. Roel: “We hebben 
                tijdens het maken van de kast super veel geleerd samen met de kinderen over houtbewerking
                en natuurlijk over zaden, natuur en plantjes. Als je de laatjes opentrekt zie je wat de 
                kinderen hebben gemaakt”.
            </p>
            <button>bekijk de zaden </button>
            <img src="link" alt="Zaden Bieb" />
        </article>

        <article class="geveltuin">
            <h2>Onze Gevel tuin </h2>
            <p>Ons derde Bieb in Bloei project is de geveltuin aan de voorkant van OBA Linnaeus;
                in 2022 aangevraagd door de inmiddels afgestudeerde Bestuurskunde student Mert.
                 Sindsdien organiseren onze vaste studenten elk jaar in maart een Zaaifeest, 
                 om het begin van de lente te vieren met de buurt.
            </p>
            <p>
                Daarna start het Bakkie buiten de Bieb seizoen, waarin studenten elke week in 
                de geveltuin werken onder het genot van een hapje en drankje. Woon je vlakbij
                en lijkt het je leuk om mee te helpen, houd dan deze website in de gaten voor 
                de nog te bepalen dag en tijd..
            </p>
            <button>bekijk de tuin </button>
            <img src="link" alt="geveltuin" />
        </article>
    </section>

    <article class="over-buurtcampus">
        <h2>Over Buurtcampus <span>Oost</span></h2>
        <p>De Buurtcampus is een leeromgeving opgezet door de Hogeschool van Amsterdam (HvA) 
            in samenwerking met de Openbare Bibliotheek van Amsterdam (OBA). Met drie Buurtcampussen 
            in verschillende stadsdelen richten wij ons op actuele uitdagingen in de wijken van Amsterdam. 
            De Buurtcampus heeft vestigingen in OBA Geuzenveld (Nieuw-West), OBA Linnaeus (Oost) en 
            OBA Ganzenhoef (Zuidoost).
        </p>
        <p>Dit zijn toegankelijke plekken waar studenten projecten en buurtactiviteiten ontwikkelen
            en uitvoeren, en waar onderzoekers aansluiting vinden bij hun wijkgerichte vragen. Hier 
            ontmoeten de HvA en de wijk elkaar om opgedane kennis in de praktijk te brengen en buurten 
            inclusiever, veiliger, gezonder, groener en socialer te maken.
        </p>
    </article>

    <article class="partners">
    <h2>Partners</h2>
    <p>Bieb & Bloei: Een bruisende samenwerking tussen HvA en OBA</p>

    <p>Bieb & Bloei is meer dan een initiatief, het is een dynamische 
        samenwerking tussen de Hogeschool van Amsterdam (HvA) en de Openbare 
        Bibliotheek Amsterdam (OBA). 
    </p>

