{% render 'partials/head.liquid', title: 'Prikbord' %}
{% render 'partials/nav.liquid' %}
<body class="body-project">

<header class="header-project">
  <h1>"Help Ons Groener Worden!"</h1>
  <p>
    Wil jij bijdragen aan een groener, gezonder en gezelliger Amsterdam Oost? 
    Dit is de plek waar jij jouw ideeën en suggesties kunt delen voor nieuwe groene initiatieven in de buurt. 
    Of het nu gaat om geveltuinen, buurttuintjes, groene speelplekken of iets heel anders—jouw input maakt het verschil! 
    Laat ons weten wat jij zou willen zien en laten we samen onze buurt laten bloeien.
  </p>
  </header>
{% render 'partials/foot.liquid' %}