{% render 'partials/head.liquid', title: 'Geveltuin' %}
{% render 'partials/nav.liquid', title: 'Geveltuin' %}

<main class="contactpagina-sascha">
    <a href="/contact/" class="contactlink-sascha">Meld je aan!</a>
    <svg class="bloemetje-sascha" width="68" height="65" viewBox="0 0 68 65" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M45.8002 31.065C49.4859 30.608 54.5004 30.6384 58.708 33.0677C66.4399 37.5317 64.6171 44.6469 59.1186 46.8532C59.99 52.6611 54.7066 57.8544 46.9747 53.3904C42.9336 51.0573 40.478 46.9015 38.9658 43.6192L33.84 34.0981C33.311 33.1155 34.3162 31.3771 35.4309 31.3468L45.8002 31.065Z" fill="#ECA9F5"/>
<path d="M41.0137 41.7445C43.2524 44.7079 45.7333 49.0658 45.7333 53.9243C45.7333 62.8523 38.6599 64.8313 33.9999 61.1727C29.4058 64.8312 22.2666 62.8524 22.2666 53.9243C22.2666 49.2581 24.6378 45.0536 26.7243 42.1028L32.4069 32.9032C32.9933 31.9538 35.0015 31.9551 35.585 32.9053L41.0137 41.7445Z" fill="#ECA9F5"/>
<path d="M29.2136 43.4047C27.7666 46.8251 25.233 51.1526 21.0254 53.5818C13.2935 58.0459 8.04293 52.9096 8.88143 47.0447C3.41602 44.8953 1.56014 37.7231 9.29206 33.2591C13.3331 30.926 18.1599 30.8773 21.7586 31.2088L32.5671 31.5303C33.6825 31.5635 34.6853 33.3032 34.1542 34.2837L29.2136 43.4047Z" fill="#ECA9F5"/>
<path d="M22.1999 33.8521C18.5142 34.3091 13.4997 34.2787 9.29206 31.8494C1.56014 27.3854 3.38297 20.2702 8.88143 18.0639C8.01011 12.256 13.2935 7.0627 21.0254 11.5267C25.0665 13.8598 27.5221 18.0156 29.0343 21.2979L34.1601 30.8191C34.6891 31.8016 33.6838 33.54 32.5692 33.5703L22.1999 33.8521Z" fill="#ECA9F5"/>
<path d="M26.9863 22.6393C24.7476 19.6759 22.2667 15.318 22.2667 10.4595C22.2667 1.53144 29.3401 -0.447552 34.0001 3.21109C38.5941 -0.447422 45.7334 1.53144 45.7334 10.4595C45.7334 15.1257 43.3622 19.3302 41.2757 22.281L35.5931 31.4806C35.0066 32.43 32.9985 32.4286 32.415 31.4785L26.9863 22.6393Z" fill="#ECA9F5"/>
<path d="M38.7864 21.5124C40.2334 18.092 42.767 13.7645 46.9746 11.3353C54.7065 6.87124 59.9571 12.0075 59.1186 17.8724C64.584 20.0218 66.4399 27.194 58.7079 31.658C54.6669 33.9911 49.8401 34.0398 46.2414 33.7083L35.4329 33.3868C34.3175 33.3536 33.3147 31.6139 33.8458 30.6334L38.7864 21.5124Z" fill="#ECA9F5"/>
<g style="mix-blend-mode:color-dodge">
<path d="M34 16.7252L35.1838 29.334L44.9366 21.2553L36.8579 31.0081L49.4667 32.1919L36.8579 33.3757L44.9366 43.1285L35.1838 35.0498L34 47.6586L32.8162 35.0498L23.0634 43.1285L31.1421 33.3757L18.5333 32.1919L31.1421 31.0081L23.0634 21.2553L32.8162 29.334L34 16.7252Z" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<circle cx="6.36863" cy="6.36863" r="6.36863" transform="matrix(-1 0 0 1 40.3687 25.8233)" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<path d="M37.2524 27.9749C36.6108 28.6164 36.5733 29.6189 36.5733 29.6189C36.5733 29.6189 37.5758 29.5814 38.2174 28.9399C38.8589 28.2983 40.7549 25.4373 40.7549 25.4373C40.7549 25.4373 37.8939 27.3333 37.2524 27.9749Z" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<path d="M38.6188 29.5406C37.7806 29.8878 37.3622 30.7996 37.3622 30.7996C37.3622 30.7996 38.3028 31.1486 39.141 30.8014C39.9792 30.4542 42.8258 28.5366 42.8258 28.5366C42.8258 28.5366 39.4569 29.1934 38.6188 29.5406Z" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<path d="M39.282 31.5099C38.3747 31.5099 37.6393 32.1922 37.6393 32.1922C37.6393 32.1922 38.3747 32.8746 39.282 32.8746C40.1892 32.8746 43.553 32.1922 43.553 32.1922C43.553 32.1922 40.1892 31.5099 39.282 31.5099Z" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<path d="M39.1409 33.5831C38.3027 33.2359 37.3621 33.5849 37.3621 33.5849C37.3621 33.5849 37.7805 34.4968 38.6187 34.8439C39.4568 35.1911 42.8257 35.848 42.8257 35.848C42.8257 35.848 39.9791 33.9303 39.1409 33.5831Z" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<path d="M38.2174 35.4446C37.5759 34.8031 36.5733 34.7656 36.5733 34.7656C36.5733 34.7656 36.6109 35.7681 37.2524 36.4096C37.8939 37.0511 40.755 38.9472 40.755 38.9472C40.755 38.9472 38.8589 36.0861 38.2174 35.4446Z" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<path d="M36.6518 36.8109C36.3046 35.9727 35.3927 35.5544 35.3927 35.5544C35.3927 35.5544 35.0438 36.495 35.3909 37.3331C35.7381 38.1713 37.6558 41.0179 37.6558 41.0179C37.6558 41.0179 36.9989 37.6491 36.6518 36.8109Z" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<path d="M34.6823 37.474C34.6823 36.5668 34 35.8313 34 35.8313C34 35.8313 33.3176 36.5668 33.3176 37.474C33.3176 38.3813 34 41.7451 34 41.7451C34 41.7451 34.6823 38.3813 34.6823 37.474Z" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<path d="M32.609 37.3331C32.9562 36.4949 32.6072 35.5543 32.6072 35.5543C32.6072 35.5543 31.6954 35.9726 31.3482 36.8108C31.001 37.649 30.3442 41.0178 30.3442 41.0178C30.3442 41.0178 32.2618 38.1712 32.609 37.3331Z" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<path d="M30.7476 36.4095C31.3892 35.768 31.4267 34.7654 31.4267 34.7654C31.4267 34.7654 30.4242 34.803 29.7826 35.4445C29.1411 36.086 27.2451 38.9471 27.2451 38.9471C27.2451 38.9471 30.1061 37.051 30.7476 36.4095Z" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<path d="M29.3812 34.8438C30.2194 34.4966 30.6378 33.5847 30.6378 33.5847C30.6378 33.5847 29.6972 33.2357 28.859 33.5829C28.0208 33.9301 25.1742 35.8478 25.1742 35.8478C25.1742 35.8478 28.5431 35.1909 29.3812 34.8438Z" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<path d="M28.718 32.8743C29.6253 32.8743 30.3607 32.192 30.3607 32.192C30.3607 32.192 29.6253 31.5096 28.718 31.5096C27.8108 31.5096 24.447 32.192 24.447 32.192C24.447 32.192 27.8108 32.8743 28.718 32.8743Z" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<path d="M28.859 30.8011C29.6971 31.1483 30.6377 30.7993 30.6377 30.7993C30.6377 30.7993 30.2194 29.8875 29.3812 29.5403C28.543 29.1931 25.1742 28.5363 25.1742 28.5363C25.1742 28.5363 28.0208 30.4539 28.859 30.8011Z" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<path d="M29.7826 28.9396C30.4241 29.5811 31.4267 29.6187 31.4267 29.6187C31.4267 29.6187 31.3891 28.6161 30.7476 27.9746C30.1061 27.3331 27.245 25.437 27.245 25.437C27.245 25.437 29.1411 28.2981 29.7826 28.9396Z" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<path d="M31.3482 27.5732C31.6954 28.4114 32.6073 28.8298 32.6073 28.8298C32.6073 28.8298 32.9562 27.8892 32.6091 27.051C32.2619 26.2128 30.3442 23.3662 30.3442 23.3662C30.3442 23.3662 31.0011 26.735 31.3482 27.5732Z" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<path d="M33.3177 26.91C33.3177 27.8172 34 28.5527 34 28.5527C34 28.5527 34.6824 27.8172 34.6824 26.91C34.6824 26.0027 34 22.639 34 22.639C34 22.639 33.3177 26.0027 33.3177 26.91Z" fill="#ECA9F5"/>
</g>
<g style="mix-blend-mode:multiply">
<path d="M35.3909 27.0513C35.0437 27.8895 35.3926 28.8301 35.3926 28.8301C35.3926 28.8301 36.3045 28.4117 36.6517 27.5735C36.9989 26.7353 37.6557 23.3665 37.6557 23.3665C37.6557 23.3665 35.738 26.2131 35.3909 27.0513Z" fill="#ECA9F5"/>
</g>
</svg>

</main>

{% render 'partials/foot.liquid' %}