{% render 'partials/head.liquid', title: 'Contact' %}

{% render 'partials/nav.liquid' %}

<h1>Alle stekjes</h1>

<pre>
  {{ stekjes | json }}
</pre>

<ul>
  {% for stekje in stekjes %}
    <li>{{ stekje.naam }}</li>
  {% endfor %}
</ul>




{% render 'partials/foot.liquid' %}