@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Orbitron&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Varela+Round&display=swap');

/* Kerem & Sascha variables */
:root { 
        --main-color-green: #4e7141;
        --main-color-beige: #f9e9c2;
        --main-color-orange: #ff8d06;
        --main-color-brown: #491b02;
    
        --card-color-orange: #ff9a41;
        --card-color-green: #3c593e;
    
        --text-color-white: #fff;
        --text-color-black: #000;
    
        /* Font-weights */
        --font-weight-thin: 100;
        --font-weight-extra-light: 200;
        --font-weight-light: 300;
        --font-weight-regular: 400;
        --font-weight-medium: 500;
        --font-weight-semi-bold: 600;
        --font-weight-bold: 700;
        --font-weight-extra-bold: 800;
        --font-weight-black: 900;
    
        --border-bigCard: 2em;
        --border-card: 1.0625em;
    
        --section-padding-y: 4rem;
        --section-padding-x: 7.5rem;
    
        --line-height-paragraph: 1.8em;
        --line-height-paragraph-big-screen: 3em;
    
        --image-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        --radius:1rem;
    }





